@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: auto;
        height: 1em;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   .image-responsive{
        display: block;
        width: 100%;
   }
   .page__content{
        max-width: 40em;
        margin: 0 auto;
   }
   .page__intro{
        max-width: 45em;
   }
   .page__header{
        padding: calc(1em + 5%);
        background-image: url(../images/header-2560w.webp);
        background-size: cover;
        background-position: top center;
        color: var(--light);
   }
   .page__logo{
        display: block;
        width: 4em;
        margin: 0 auto;
   }
   .page__section{
        padding: 1em;
   }
   .page__footer{
        padding: 1em;
        background-color: var(--gray);
        color: var(--light);
        text-align: center;
   }
   .button{
        display: inline-block;
        padding: 1em 2em;
        text-decoration: none;
        border-radius: 0.5em;
        font-weight: 700;
   }
   .button--primary{
        background-color: var(--primary);
        color: var(--light);
    }
    .button--primary:hover{
        background-color: var(--black);
        color: var(--light);
    }
   .button--secondary{
        background-color: var(--light);
        color: var(--black);
    }
    .button--secondary:hover{
        background-color: var(--black);
        color: var(--light);
    }
    .picture-box{
        margin: 1em 0;
    }
    .picture-box__caption{
        text-align: center;
        font-size: 0.8em;
        color: var(--gray);    
    }
    h2{
        font-size: 2em;
        font-weight: bold;
    }
    .h2 > span{
        font-size: 2.5em;
    }
    .h3{
        font-size: 1.17em;
        font-weight: bold;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    .highlight-box{
        padding: 1.75em;
        border: var(--primary) 2px solid;
    }
    .list > li{
        margin: 0.5em 0;
    }
    .list > li::marker{
        color: var(--primary);
    }
    .panel{
        max-width: 18em;
        display: inline-block;
        vertical-align: top;
    }
    .gallery__item{
        --margin: 1em;
        display: inline-block;
        width: calc(100% - 2 * var(--margin));
        margin: var(--margin);
    }
    @media (min-width: 768px){
        .gallery__item--50w{
            width: calc(50% - 2 * var(--margin));
        
        }
        
    }
    .page__section--dark{
        background-color: var(--gray);
        color: var(--light);
    }
    .color-box{
        font-weight: 600;
        text-align: center;
        background-color: var(--gray);
        color: var(--light);
        padding: 1.75em;
    }
}